<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" 
    rel="stylesheet" crossorigin="anonymous"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" 
      crossorigin="anonymous">
    </script>
    <title>{{form.title}}</title>
</head>
<body>

    <h1>{{form.title}}</h1>

    <div id="error-messages">
        {% for errormessage in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{errormessage}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>

    <form method="post">
        {{ form.hidden_tag() }}
        
        {% for field in form %}
            {% if field.type != "CSRFTokenField" and field.type != "SubmitField" %}
                {{ field.label }}
                {{ field() }}
            {% elif field.type == "SubmitField" %}
                {{ field() }}
            {% endif %}
            <br>
        {% endfor %}
    </form>

    {# if the user is done adding subtasks, they can be #}
    {% if form.title == "Subtask Creation Form" %}
        <form action="{{ url_for('index') }}" method="get">
            <button class="go-to-home">Done</button>
        </form>
        {# old method -> <a href="{{ url_for('index') }}">Done</a> #}
    {% endif %}

    {% if "Deletion" in form.title or form.title == "Task Creation Form" or form.title == "Task List Creation Form" %}
        <form action="{{ url_for('index') }}" method="get">
            <button class="go-to-home">Home</button>
        </form>
    {% endif %}
</body>
</html>