<!DOCTYPE html>
<html lang="en">
  <head>
    <title>442 Todo</title>
    <script src="/static/scripts/validate_form.js"></script>
    <link rel="stylesheet" href="/static/styles/simple_form.css" />
    <!-- define a dummy fake favicon to avoid errors -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <!-- link to bootstrap dependencies -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    />
    <script
      defer
      crossorigin="anonymous"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    ></script>
  </head>
  <body>
    <h1>COMP 442 Project!</h1>
  </body>
</html>
