/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  --primary-color: #4a7fd9;
  --light-primary-color: color-mix(
    in srgb,
    var(--primary-color) 20%,
    white 80%
  );
  --dark-primary-color: color-mix(in srgb, var(--primary-color) 80%, black 20%);
  --lightgrey: #b3b3b3;
  /* --ai-gradient: linear-gradient(#e66465, #9198e5); */
  font-family: "Geist", sans-serif;
}

::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(210, 210, 210);
  border: solid 4px transparent;
  border-radius: 100px;
}

button {
  background-color: var(--light-primary-color);
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  &:hover {
    background-color: color-mix(in srgb, var(--primary-color) 30%, white 70%);
  }
}

.flash-msg-container {
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  background-color: #ffe08bbb;
  border-radius: 6px;
  padding: 10px;
  color: #805e00;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.flash-msg-container button {
  border-radius: 100px;
  background-color: transparent;
  font-size: 20px;
  color: #805e00;
  cursor: pointer;
  border: 1px solid #805e0077;
  width: 30px;
  height: 30px;
}

/* Container styles */
.container {
  display: flex;
  grid-template-columns: 250px 1fr 300px;
  height: 100vh;
}

/* Sidebar styles */
.sidebar {
  /* display: none; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30vw;
  max-width: 350px;
  min-width: 300px;
  background-color: #fff;
  padding: 40px 20px 20px 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.all-tasks-btn {
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &:hover {
    border: 1px solid #aaaaaa;
  }
}

.lists-title {
  padding-left: 10px;
}

.lists {
  margin-top: -10px;
  list-style-type: none;
  flex: 1;
  overflow-y: scroll;
  border-top: 1px solid #dddddd;
}

.lists li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 10px;
  border-bottom: 1px solid #dddddd;
}

.lists li a {
  text-decoration: none;
  color: var(--primary-color);
}

.list-icon {
  width: 17px;
  min-width: 17px;
}

.lists::-webkit-scrollbar {
  width: 20px;
}
.lists::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(210, 210, 210);
  border: solid 8px transparent;
  border-radius: 100px;
}

.profile-container {
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-icon {
  width: 25px;
}

.logout-btn {
  width: 20px;
  margin-left: auto;
}

/* Main content styles */
.task-list-container {
  width: 100%;
  padding: 40px 10px 0 20px;
  display: flex;
  flex-direction: column;
}

.task-list-header {
  padding-right: 10px;
}

.task-list-header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  padding-bottom: 30px;
  margin-top: 30px;
  flex-grow: 1;
}

.task-list::-webkit-scrollbar {
  width: 20px;
}
.task-list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgb(210, 210, 210);
  border: solid 8px transparent;
  border-radius: 100px;
}

.task-list-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.end-of-task-list {
  align-self: center;
  color: #aeaeae;
}

.card {
  display: flex;
  align-items: center;
  padding: 13px 24px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hoverCard {
  cursor: pointer;
}
.hoverCard:hover {
  background: rgb(245, 245, 245);
}

.cardBtn {
  cursor: pointer;
  background: var(--primary-color);
  color: white;
  font-weight: 500;
  padding: 8px 18px;

  transition: 0.1s ease-in-out;
  & > * {
    transition: 0.1s ease-in-out;
  }
}
.cardBtn:hover {
  background: var(--dark-primary-color);
  & > * {
    color: white;
    content: "Add";
  }
}

.add-task-card {
  width: calc(100% - 20px);
}

.add-task-header {
  display: flex;
  gap: 10px;
}

/* Task details styles */
.task-details-container {
  display: none;
  width: 40vw;
  max-width: 450px;
  min-width: 350px;
  padding: 20px;
  padding-left: 0;
}

.task-details-container.open {
  display: block;
}

.task-details {
  background-color: var(--light-primary-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  height: 100%;
  border-radius: 6px;
  padding: 20px;
}

.details-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-card {
  padding: 16px 24px;
}

.circle {
  height: 18px;
  border-radius: 50%;
  background-size: cover;
  /* padding: 8px; */
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  top: -10px; /* Expand clickable area */
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: red; /* Invisible area */
  cursor: pointer;
}

.task-content h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.task-content p {
  font-size: 14px;
  color: #616161;
  font-weight: 300;
}

.strikethrough {
  text-decoration: line-through;
}

.task-info {
  margin: 4px 0 0 0;
  display: flex;
  gap: 8px;
  font-size: 14px;
  color: #616161;
}

.right-icon {
  margin-left: auto;
}

.left-icon {
  margin-right: 18px;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

/* General modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Ensure it's above other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Dim background */
  justify-content: center;
  align-items: center;
}

/* Modal content container */
.modal-content {
  background-color: #fff;

  padding: 20px;
  border-radius: 8px;
  width: 90%; /* Default width */
  max-width: 600px; /* Limit max width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.3s ease-in-out;
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close-btn {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

/* Input styles */
.modal-inputs label {
  display: block;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
}

.modal-inputs input,
.modal-inputs select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.modal-inputs-row {
  display: flex;
  gap: 15px; /* Space between elements */
  flex-wrap: wrap; /* Adjust layout for smaller screens */
}

.modal-inputs-row > div {
  flex: 1; /* Make all columns equal */
  min-width: 150px;
}

/* Submit button */
.sumbit-modal-btn {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin: 0;
}

.sumbit-modal-btn:hover {
  background-color: var(--dark-primary-color);
}

/* Modal animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 600px) {
  .modal-content {
    width: 95%; /* Use more screen width for smaller screens */
  }

  .modal-inputs-row {
    flex-direction: column; /* Stack inputs vertically */
    gap: 10px;
  }
}

.ai-add-task-input {
  font-size: 16px;
  width: 100%;
  border: none;
}

.ai-add-task-input:focus {
  outline: none;
}

/* TO DELETE */
.forms-btns {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.speechToTextBtn {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  color: white;
  border-radius: 5px;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 100px;
  display: none;
  align-items: center;
}

.tooltip-container:hover .tooltip,
.tooltip-container:hover .tooltip:hover {
  display: flex;
}

.colors {
  display: flex;
}

.color-btn {
  margin: 5px;
  border-radius: 25px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-btn {
  background: #e34242;
}

.blue-btn {
  background: #4a7fd9;
}

.green-btn {
  background: #6ab05f;
}

.custom-color-btn {
  display: none;
}

.color-picker-btn {
  background-color: #555;
}

.color-picker {
  margin-top: 5px;
  border: none;
  cursor: pointer;
}

.color-picker-modal-content {
  max-width: 300px;
  text-align: center;
}

.colorInput {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  opacity: 0;
  position: absolute;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}

.colorInput-btn {
  font-size: medium;
}

.colorInput-btn {
  box-sizing: border-box;
  border: 2px solid black;
  position: relative;
  color: black;
}

.color-input-plus {
  transform: translate(-0.3px, -1.2px);
}

.selected-color-btn {
  border: 3px solid white;
  outline: solid 2px black;
}

.palette-container {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.palette-img {
  width: 23px;
  height: 23px;
  font-size: 30px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.palette-color-btns {
  display: flex;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease;
  position: absolute;
  right: 35px;
  pointer-events: none;
  margin-right: 5px;
}

.palette-color-btns.active {
  pointer-events: all;
  opacity: 1;
  transform: translateX(0);
}

.palette-color-btn {
  width: 20px;
  height: 20px;
  background-color: #4a7fd9;
  border-radius: 100px;
  transition: background-color 0.3s ease;
}
